.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.rating > input {
    display: none;
}

.rating > label {
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
    display: flex;
    justify-content: center;
}

.rating > label:before {
    content: '★';
}

.rating > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating > label:hover,
.rating > label:hover ~ label {
    color: gold;
}